@font-face {
  font-family: 'Astronauta';
  src: url('/fonts/Astronauta Script.ttf') format('truetype');
}

@font-face {
  font-family: 'Mango';
  src: url('/fonts/Racy Mango.otf') format('opentype');
}

@font-face {
  font-family: 'Barmeno';
  src: url('/fonts/Barmeno Medium.otf') format('opentype');
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --ecopipo-purple: #733080;
  --ecopipo-purple-hover: #5b2470;
  --ecopipo-green: #89b329;
  --ecopipo-green-hover: #7BA628;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}


@media (max-width: 600px) {
  html,body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .btn-responsive {
    width: 100% !important;
    margin-bottom: 10px !important;
    margin-left: 0 !important;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Barmeno', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}
:root {
  --joy-palette-primary-solidBg: #86b125;
  --joy-palette-primary-plainColor: #111111;
  --joy-palette-primary-outlinedBorder: #86b125;
  --joy-palette-primary-outlinedHoverBorder: #86b125;
  --joy-palette-primary-outlinedActiveBorder: #86b125;
  --joy-palette-primary-outlinedFocusBorder: #86b125;
  --joy-palette-primary-plainHoverBg: #f8bbd0;
  --joy-palette-primary-plainActiveBg: #f8bbd0;
  --joy-palette-primary-plainFocusBg: #f8bbd0;


  --joy-fontFamily-body: 'Barmeno', Arial, Helvetica, sans-serif;
  --joy-fontFamily-h2: 'Astronauta', Arial, Helvetica, sans-serif;

}

h2{
  font-family: 'Mango', Arial, Helvetica, sans-serif !important;
}

p, h4, h3, h5, h6, button{
  font-family: 'Barmeno', Arial, Helvetica, sans-serif !important;
  font-weight: 100 !important;
}


.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px; /* gutter size */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}